modules = ["go-1.21", "nodejs-20"]
[run]
module = "frontend/index.html"
workdir = "."
entrypoint = "vite dev --host 0.0.0.0"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Backend"

[[workflows.workflow]]
name = "Run Backend"
author = 40597801
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && go run main.go"

[[workflows.workflow]]
name = "Run Frontend"
author = 40597801
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
